* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .home_page {
    background-color: #0d0d0d;
    height: 100vh;
  }
  .gradient {
        background-image: url(../image/gradient_fundo.png);
        width: 100%;
        height: 370px;
        opacity: 0.2;
        transform: rotate(-0deg);
  }
  .logo_page{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 70%;
        background-image: url(../image/logo-lojaexpressa-removebg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
  }
  