.wrapper-flash-message {
  position: fixed;
  left: 0;
  animation: wrapper-flash-message 8s;
  transform: translateX(-101%);
}
@keyframes wrapper-flash-message {
  0% {
    transform: translateX(0);
  }

  99% {
    transform: translateX(0);
  }
}

.flash-message {
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  border-color: #d6e9c6;
  border-radius: 2px;
  visibility: hidden;
  animation: flash-message 8s ease-in-out;
}
@keyframes flash-message {
  from {
    visibility: visible;
  }

  to {
    opacity: 0;
  }
}

.flash-message > p {
  margin: 0;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}

.flash-message.error {
  background: var(--error-color);
}

.flash-message.success {
  background: var(--success-color);
}

.flash-message.info {
  background: var(--link-color);
}
