/* Shadow of body - mobile */
.toggle-md > .menu-curtain,
.toggle-lg > .menu-curtain {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: 1;
  background: #000;
}

@media (min-width: 992px) {
  .menu-curtain {
    display: none;
  }
}

/* Menu body */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 230px;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  background: var(--input-bgcolor);
  transform: translateX(-101%);
}
@media (min-width: 992px) {
  .menu {
    top: 60px;
    transform: translateX(0);
  }
}

.toggle-md > .menu,
.toggle-lg > .menu {
  transform: translateX(0);
}
@media (min-width: 992px) {
  .toggle-lg > .menu {
    width: 80px;
  }
}

/* Menu list and item */
.menu-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

@media (min-width: 992px) {
  .toggle-lg .menu-list {
    padding: 0;
    text-align: center;
    font-size: 2rem;
  }

  .toggle-lg .item-text {
    display: none;
  }
}

.item-text {
  font-size: 1rem;
  margin-left: 15px;
}

.menu-item {
  padding: 1rem;
  font-size: 22px;
}

.menu-item > a {
  display: block;
  color: var(--text-color);
  text-decoration: none;
}

.menu-item:hover {
  background: var(--bg-color);
}

/* Button toggle menu */
.button-menu span {
  display: block;
  margin: 7px;
  height: 2px;
  width: 30px;
  background: var(--text-color);
}
@media (min-width: 992px) {
  .button-menu {
    display: none;
  }
}

#button-toggle-menu {
  visibility: hidden;
}
@media (min-width: 992px) {
  #button-toggle-menu {
    position: absolute;
    top: 80px;
    right: -8px;
    font-size: 1.4rem;
    color: var(--custom-color);
    visibility: visible;
  }
}
