*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
overflow: hidden;
}

.sidebar_content {
display: flex;
align-items: center;
background-color: #0d0d0d;
position: fixed;
height: 100%;
top: 0;
left: 0;
padding: 0.6rem;
transition: all 0.6 ease-in;

}
.sidebar_content.active{
width: 20%;
}
.sidebar_content.active .logo_content {
display: flex;
position: fixed;
top: 0px;
margin: auto;
height: 50px;
width: 200px;
text-align: center;
}

.sidebar_content.active .logo {
display: display;
align-items: center;
justify-content: center;
width: 100%;
height: 60px;
color: #21c67b;
}
.logo{
display: none;
}
.logo i {
font-size: 28px;
margin-right: 5px;
}
.logo_name {
font-size: 20px;
font-weight: 400;
}
#mobile_btn {
position: absolute;
font-size: 1.5rem;
top: 20px;
left: 30px;
color: #21c67b;
transition: all 0.5s ease;
}

.sidebar_content.active #mobile_btn{
position: absolute;
top: 20px;
left: 110%;
}
.nav_links li {
position: relative;
width: 100%;
height: 50px;
line-height: 50px;
list-style: none;
margin: 0 5px;

}
.nav_links a {
display: flex;
align-items: center;
border-radius: 12px;
text-decoration: none;
color: #21c67b;
transition: all 0.5s ease;
}
.nav_links a:hover {
opacity: 0.5;
}
.nav_links i {
min-width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
color: #21c67b;
border-radius: 12px;
}
.nav_list_name {
transition: all 0.5s ease;
display: none;
}
.profile_content {
position: absolute;
color: #21c67b;
bottom: 0;
left: 0;
width: 100%;
}
.profile {
position: relative;
padding: 10px 6px;
height: 60px;
}
.profile_details {
display: none;
align-items: center;
}

.profile_details img {
background-image: url(../test/cat-g0fb28303b_1920.jpg);
width: 45px;
height: 45px;
object-fit: cover;
border-radius: 12px;
} 
.name_job {
margin-left: 10px;
}
.name {
font-size: 15px;
font-weight: 400;
}
.job {
font-size: 12px;
}

#log_out{
position: absolute;
left: 30px;
transition: all 0.5s ease;
}
.sidebar_content.active #log_out {
position: absolute;
left: 88%;
bottom: 5px;
transform: translateX(-50%);
min-width: 50px;
line-height: 50px;
font-size: 20px;
border-radius: 12px;
}
/* 
.sidebar_content.active ~ .header_content {
left: 20%;
} */
.sidebar_content.active .nav_list_name {
display: initial;
}
.sidebar_content.active .logo,
.sidebar_content.active .profile_details {
display: flex;
}
.header_logo{
display: flex;
align-items: center;
justify-content: center;
font-size: 1.1rem;
text-transform: uppercase;
text-decoration: none;
color: #21c67b;
font-weight: 600;
}
.nav_menu ul{
display: flex;
align-items: center;
justify-content: center;
}
.nav_menu li{
width: 100px;
padding: 5px;
margin: 5px;
list-style: none;
text-align: center;
}
.nav_menu li a{
font-size: 1rem;
color: #21c67b;
text-decoration: none;
font-weight: 600;
}
.nav_menu i {
position: relative;
top: 3px;
}
.profile_details img{
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border-radius: 5px;
} 
.main_content{
position: absolute;
height: 100%;
width: calc(100% - 78px);
left: 78px;
transition: all 0.5s ease-out;
background-color: #252525
}
.sidebar_content.active ~ .main_content{
transition: all 0.5s ease-out;
width: calc(100% - 270px);
left: 270px;
}
.main_content{
display: grid;
height: 100vh;
grid-template-columns: 3fr 1fr;
}
.header__content {
background-color: #0d0d0d;
display: flex;
align-items: center;
justify-content: space-around;
height: 10%;
margin-bottom: 15px;
}
.section_content{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.section_div_box{
background-color: #0d0d0d;
width: 30%;
height: 250px;
margin: 10px;
border-radius: 5px;
}
.painel{
width: 62%;
}
.aside_box{
border-left: 1px solid #0d0d0d;
}
.aside_div_box{
background-color: #0d0d0d;
width: 300px;
height: 185px;
margin: 20px 10px 0 10px;
border-radius: 5px;
}