:root {
  --bg-color: rgb(18, 18, 20);
  --custom-color:  #00008b;
  --primary-color: #04148c;
  --text-color: rgba(255, 255, 255);
  --success-color: #52c41a;
  --error-color: #ff4d4f;
  --link-color: hwb(209 9% 0%);
  --input-bgcolor: rgb(32, 32, 36);
}