@import url('colors.css');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  background: var(--bg-color);
}

/* Wrapper and container */
.content {
  margin: auto;
  max-width: 1000px;
  width: auto;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.content_button {
  padding: 3%;
  text-align: center;
}

/* Default form and input */
.form {
  width: 100%;
}

.form-group {
  display: grid;
  gap: 1rem;
}

.form-group--row {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 35px;
}

@media (max-width: 600px) {
  .form-group--row {
    grid-template-columns: 1fr;
  }
}

.label {
  color: var(--text-color);
  font-weight: 600;
  font-size: 14px;
}

.input-row {
  background: unset;
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;
  padding: 5px 1px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--text-color);
}

/* Button and other elements */
.link {
  color: var(--link-color);
}

.button {
  background: var(--primary-color);
  color: #ffffff;
  width: 90%;
  max-width: 200px;
  padding: 0.8rem 0;
  border-radius: 30px;
  border: none;
}

@media (min-width: 600px) {
  .button {
    width: initial;
    max-width: initial;
    padding: 0.8rem 4rem;
  }
}