*{
      margin: 0;
      padding:0;
      box-sizing: border-box;
  }
  
  body{
      position: relative;
      min-height: 100vh;
      width: 100vw;
      overflow: hidden;
  }
  .content{
      display: grid;
      height: 100vh;
      background-color: rgb(105, 161, 209);
      grid-template-columns: 2fr 2.5fr 2.5fr 2.5fr;
      grid-template-rows: 0.5fr 1fr 1fr 1fr;
      grid-template-areas:
      "sidebar header_content header_content header_content "
      "sidebar section_content1 section_content1 section_content2"
      "sidebar section_content1 section_content1 section_content2"
      "sidebar section_content3 section_content3 section_content2"
      ;
  }
  .header_content{
      grid-area: header_content;
      background-color: #9c5252;
  }
  .sidebar{
      grid-area: sidebar;
      background-color: #1d1d1d;
  }
  .section_content1{
      grid-area: section_content1;
      background-color: blueviolet;
  }
  .section_content2{
      grid-area: section_content2;
      background-color: rgb(43, 226, 186);
  }
  .section_content3{
      grid-area: section_content3 ;
      background-color: rgb(226, 43, 43);
  }
  
  
  
  
  .sidebar{
      position: fixed;
      height: 100%;
      width: 5%;
      top: 0;
      left: 0;
      padding: 6px 14px;
  }
  
  .sidebar.active{
      width: 20%;
  }
  .logo{
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;
      color: #fff;
  }
  .logo i{
      font-size: 28px;
      margin-right: 5px;
  }
  .logo_name{
      font-size: 20px;
      font-weight: 400;
  }
  #mobile_btn{
      position: absolute;
      color: #fff;
      left: 90%;
      top: 6px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      text-align: center;
      transform: translateX(-50%);
      
  }
  .nav_links{
      margin-top: 20px;
  }
  .nav_links li{
      position: relative;
      
      width: 100%;
      height: 50px;
      line-height: 50px;
      list-style: none;
      margin: 0 5px;
  }
  
  .nav_links a{
      display: flex;
      align-items: center;
      border-radius: 12px;
      text-decoration: none;
      color: #fff;
  }
  .nav_links a:hover{
      background-color: #fff;
      color: cornflowerblue;
  }
  .nav_links i{
      min-width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #fff;
      border-radius: 12px;
  }
  .profile_content{
      position: absolute;
      color: #fff;
      bottom: 0;
      left: 0;
      width: 100%;
  }
  
  .profile{
      position: relative;
      padding: 10px 6px;
      height: 60px;
  }
  .profile_details{
      display: flex;
      align-items: center;
  }
  
  .profile_details img{
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 12px;
  }
  .name_job{
      margin-left: 10px;
  }
  
  .name{
      font-size: 15px;
      font-weight: 400;
  }
  
  .job{
      font-size: 12px;   
  }
  
  #log_out{
      position: absolute;
      left: 88%;
      bottom: 5px;
      transform: translateX(-50%);
      min-width: 50px;
      line-height: 50px;
      font-size: 20px;
      border-radius: 12px;
  }
  
  
  .sidebar.active ~ .header_content{
      left: 20%;
  }