@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&display=swap');

:root{   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
.content_box_login{
    background-color: #ffffff;
    height: 80%;
}

.content_box_second{
    position: relative;
    width: 100%;
    height: 100%;
}
.content_box_third{
    
    width: 100%;
    height: 100%;
  
    
}
.login{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 40%;
    border: none;
    border-bottom: 1px solid rgb(165, 153, 153);
    box-shadow: 10px 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 3rem;
}
.login button{
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: none;
    outline: none;
    width: 45%;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}

.login button:nth-last-child(2){
    border-bottom: 2px solid #FA4A0C;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputBox{
    position: relative; 
}
.form_area{
    
}
.inputBox input{
    background-color: transparent;
    color: #000;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(165, 153, 153);
    letter-spacing: 1px;
}
.inputBox label{
    letter-spacing: 1px;
    margin: 5px;
    padding: 10px 0;
    font-weight: 700;
    font-size: 12px;
    pointer-events: none;

}
.submit span a{
    text-decoration: none;
    color: #FA4A0C;
    font-weight: 700;
    font-size: 14px;
    margin: 5px;
}

.submit button{
    background-color: #FA4A0C;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
}

