<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link rel="stylesheet" href="../public/style/register.css">
	<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
	<main class="content_box_login">
		<form action="/register" method="post">
			<div class="form_area">
				<div class="inputBox">
					<label for="propietario">Propietario</label>
					<input type="text" name="nameOwner" required>
				</div>

				<div class="inputBox">
					<label for="loja">Nome da loja</label>
					<input type="text" name="name" required>
				</div>

				<div class="inputBox">
					<label for="loja">Descrição</label>
					<input type="text" name="description" required>
				</div>

				<div class="inputBox">
					<label for="email">Email</label>
					<input type="email" name="email" required>
				</div>
			</div>

			<button>Register</button>
		</form>
	</main>
</body>

</html>