<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style/default.css" />
</head>

<body>
  <main class="content">
    <form action="" method="post" class="form">
      <div class="form-group">
        <label class="label">
          Nome do proprietário
          <input type="text" name="nameOwner" class="input" <% if (typeof inputData !=="undefined" ) { %>
          value="<%= inputData.nameOwner %>" <% } %> />
        </label>

        <label class="label">
          Nome da loja
          <input type="text" name="nameCompany" class="input" <% if (typeof inputData !=="undefined" ) { %>
          value="<%= inputData.nameCompany %>" <% } %> />
        </label>

        <label class="label">
          Nome que vai aparecer na url (link personalizado)
          <input type="text" name="subdomain" class="input" <% if (typeof inputData !=="undefined" ) { %>
          value="<%= inputData.subdomain %>" <% } %> />
        </label>

        <label class="label">
          Email
          <input type="email" name="email" class="input" <% if (typeof inputData !=="undefined" ) { %>
          value="<%= inputData.email %>" <% } %> />
        </label>

        <label class="label">
          Senha
          <input type="password" name="password" class="input" autocomplete="on" />
        </label>

        <label class="label">
          Repetir senha
          <input type="password" name="" class="input" autocomplete="on" />
        </label>
      </div>

      <br><br>

      <div class="content_button">
        <button class="button">Cadastrar</button>
      </div>
    </form>
  </main>
</body>

</html>