<main>
  <header class="content-header">
    <div class="wrapper-title">
      <a href="/admin/product/" class="fa fa-chevron-left decoration-none"></a>
      <h2 class="sub-title">Editar produto</h2>
    </div>
  </header>

  <%- include('_form.ejs')  %> 
</main>