<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../public/style/home.css">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <main class="content">
    <header class="header_content"></header>

    <nav class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <i class='bx bx-cube'></i>
          <div class="logo_name">Loja Expressa</div>
        </div>
        <i class='bx bx-menu' id="mobile_btn"></i>
      </div>
      <ul class="nav_links">
        <li>
          <a href="#">
            <i class='bx bx-user'></i>
            <span class="nav_list_name">User</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-dashboard'></i>
            <span class="nav_list_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-chat'></i>
            <span class="nav_list_name">Mensseger</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-pie-chart-alt-2'></i>
            <span class="nav_list_name">Analysis</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-calendar'></i>
            <span class="nav_list_name">Caledar</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="nav_link__name">Config</span>
          </a>
        </li>
      </ul>
      <div class="profile_content">
        <div class="profile">
          <div class="profile_details">
            <!-- <img src="../../public/image/logo-lojaexpressa.jpeg" alt="">  -->
            <div class="name_job">
              <div class="name">GB</div>
              <div class="job">Loja expresso</div>
            </div>
          </div>
          <i class="bx bx-log-out" id="log_out"></i>
        </div>
      </div>
      </div>
    </nav>

    <section class="section_content1">
      <div class="content1"></div>
      <div class="content2"></div>
    </section>

    <section class="section_content2">
      <div class="content3"></div>
    </section>

    <section class="section_content3">
      <div class="content4"></div>
      <div class="content5"></div>
      <div class="content6"></div>
    </section>

    </section>
  </main>
  <script>
    let sidebar = document.querySelector(".sidebar")
    let mobileButtom = document.querySelector("#mobile_btn")
    let logOut = document.querySelector("#log_out")

    mobileButtom.addEventListener("click", () => {
      sidebar.classList.toggle('active')
    })
  </script>
</body>

</html>