<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../components/head', {title: "Entrat"}); %>

<body>
  <% if(typeof messages !=="undefined") { %>  
    <%-include('../components/flashMessage', { messages }); %>  
  <% } %>

  <main class="content">
    <%- include('../components/tab'); %>

    <form action="" method="post" class="form">
      <div class="form-group form-group--row">
        <label class=" label">
          Email
          <input type="text" name="email" id="email" class="input-row" <% if (typeof email !=="undefined" ) { %> 
            value="<%= email %>" <% } %>
          />
        </label>

        <label class="label">
          Senha
          <input type="text" name="password" id="password" class="input-row" />
        </label>

        <label class="label">
          <a href="" class="link">Esqueceu a senha?</a>
        </label>
      </div>

      <br><br>

      <div class="content_button">
        <button class="button">Entrar</button>
      </div>
    </form>
  </main>
  <script src="../public/script/script.js"></script>
</body>

</html>