<link rel="stylesheet" href="../../public/style/components/flashMessage.css">

<div class="wrapper-flash-message">
  <% messages.forEach( item=> { %>
    <div class="flash-message <%= item.type %>">
      <p>
        <%= item.text %>
      </p>
    </div>
    <% }); %>
</div>