<link rel="stylesheet" href="../../public/style/components/tab.css">

<div class="tab">
  <div class="tab__content-logo">
    <img src="../public/image/logo-lojaexpressa.jpeg" alt="" style="height: 250px;">
  </div>

  <div class="tab__content-btn">
    <span id="button-login" class="tab__wrapper-link">
      <a href="login" class="tab__link">Entrar</a>
    </span>

    <span id="button-register" class="tab__wrapper-link">
      <a href="register" class="tab__link">Cadastre-se</a>
    </span>
  </div>
</div>


<script>
  (function () {
    const buttonLogin = document.querySelector("#button-login");
    const buttonRegister = document.querySelector("#button-register");
    let pageCurrent = window.location.pathname;
    pageCurrent = pageCurrent.replace('/', '');

    if (pageCurrent === 'login') buttonLogin.classList.add('active');
    if (pageCurrent === 'register') buttonRegister.classList.add('active');
  })();
</script>