<link rel="stylesheet" href="/../../public/style/components/tab.css">

<div class="tab">
  <div class="tab__content-logo">
    <img src="/../public/image/logo-lojaexpressa.jpeg" alt="" style="height: 250px;">
  </div>

  <div class="tab__content-btn">
    <span id="button-login" class="tab__wrapper-link active">
      <a href="#" class="tab__link">Entrar</a>
    </span>
  </div>
</div>